// HOME
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//

.home-banner {
	div {
		height: 300px;
		display: inline-block;
		vertical-align: top;
	}
	div:first-child {
		background-image: url(../img/home_image.jpg);
		width: 70%;
		@media all and (max-width: @tablet) {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	div:nth-child(2) {
		width: 28.5%;
		margin-left: 1%;
		color: @white;
		.padding-all-sm();
		@media all and (max-width: @tablet) {
			width: 100%;
			margin-left: 0;	
			max-height: 200px;
			height: auto;
		}

		h2 {
			color: @white;
			font-size: 36px;
			line-height: 42px;
			@media all and (max-width: @tablet) {
				font-size: 30px;
				line-height: 36px;	
				font-weight: 300;
			}
		}
		p {
			margin-top: 40px;
			font-size: 24px;
			line-height: 28px;
			@media all and (max-width: @tablet) {
				font-weight: 300;
				margin-top: 10px;
				font-size: 22px;
				line-height: 26px;
			}
			
		}
	}
}

.entry-summary, .preview {
	width: 49%;
	vertical-align: top;

	@media all and (max-width: @tablet) {
		width: 100%;
		margin-bottom: 10px;
	}

}

.preview {
	header {
		.padding-all();
	}
	header, div {
		width: 100%;
	}

	h2 a {
		color: white;
	}
}

.entry-summary {
	.total-lateral-padding();
	padding-top: 40px;

	@media all and (max-width: @tablet) {
		padding-top: 0;
	}

	p {
		margin-bottom: 14px;
	}
	.divider {
		top: 20px;
		border-color: @member-dark-gray;
		width: 65%;
	}
}

div.featured {
	height: 700px;
	margin-top: 20px;

	span.divider {
		width: 65%;
		bottom: 20px;
		left: 20px;
	}
	
	a {
		bottom: 15px;
		right: 15px;
		padding: 5px 10px;
		background-color: @white;
		border-radius: 2px;
	}
}

.post-meta {
	time, p, span {
		display: inline-block;
	}
	time, p {
		width: 25%;
		color: @white;
		@media all and (max-width: @tablet) {
			width: 48%;	
		}
	}
	span {
		top: 5px;
		right: -3px;
		width: 200px;
	}
}

.post-pagination {
	position: absolute;
	top: 10px;
	right: 	0px;

	ul li {
		display: inline-block;
		width: 25px;
		text-align: right;

		a {
			color: @black;
			.hover-gray-txt();
		}
	}
}

nav.mobile-pagination {
	bottom: 0px;
	right: 10px;
	width: 90px;
	
	ul li {
		display: inline-block;
		width: 40px;
		text-align: right;
		a {
			color: @white;
			padding: 5px;
			.hover-gray-txt();
		}
	}
}

a.mobile-pagination {
	right: 85px;
	padding: 5px;
	bottom: 5px;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// ABOUT
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//
.about-header {
	width: 100%;
	min-height: 300px;
	margin-bottom: 40px;
	@media all and (max-width: @tablet) {
		margin-bottom: 10px;
	}
}
.about-text {
	width: 50%;
	padding: 20px;
	@media all and (max-width: @tablet) {
		width: 100%;
	}
	p {
		color: @member-dark-gray;
	}
}
p.about-text, .values p {
	width: 80%;
	font-size: 24px;
	line-height: 30px;
	color: @about-gray;
	@media all and (max-width: @tablet) {
		width: 100%;
	}
}
p.about-text {
	margin: 10px auto 40px auto;
	@media all and (max-width: @tablet) {
		margin-bottom: 10px;
	}
}
.about-thumbnail {
	width: 35%;
	margin: 2%;
	padding: 2%;
	height: 165px;
	@media all and (max-width: @tablet) {
		width: 100%;
	}
}
.values {
	margin-top: 40px;
	p {
		text-align: center;
		margin: 0 auto;
	}
}

.program-card {
	width: 31%;	
	margin: 1%;
	max-height: 300px;
	h3 {
		margin-bottom: 0;
	}
	h4 {
		margin-top: 0px;
		margin-bottom: 15px;
	}
	p, h3 {
		color: @member-dark-gray;
	}
	@media all and (max-width: @tablet) {
		min-width: 200px;
		width: 100%;
	}

}
.sponsors {
	margin: 40px auto 0px auto;
	width: 48%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 15px 30px;
	@media all and (max-width: @tablet) {
		width: 100%;
	}

	h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	.thumbnail {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		display: inline-block;
	}
}
// TEAM
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//
.pic-thumbnail {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin: 10px auto;
}

.team-card {
	min-width: 370px;
	width: 31%;	
	margin: 1%;
	h3 {
		margin-bottom: 0;
	}
	h4 {
		margin-top: 0px;
		margin-bottom: 15px;
	}
	p, h3 {
		color: @member-dark-gray;
	}
	@media all and (max-width: @tablet) {
		min-width: 200px;
		width: 100%;
	}
}

.committees {
	margin: 0 40px 0 20px;
	max-width: 400px;
	div {
		color: @member-dark-gray;
	}
}
// MEMBERS
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//

.pic-thumbnail {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin: 10px auto;
}

.member-card {
	width: 48%;
	min-width: 370px;
	margin-right: 1.5%;
	position: relative;

	
	h3 {
		margin-bottom: 0;
	}
	h4 {
		margin-top: 0px;
		margin-bottom: 15px;
		padding: 0 10px;
	}
	p, h3 {
		color: @member-dark-gray;
		padding: 0 10px;
	}
	@media all and (max-width: @tablet) {
		min-width: 250px;
	}
	@media all and (max-width: @mobile) {
		min-width: 200px;
		width: 100%;
	}
}

.left-side {
	width: 65%;
	margin-right: 2%;

	@media all and (max-width: @tablet) {
		width: 100%;
		margin-right: 0;
	}
	h3.title {
		@media all and (max-width: @mobile) {
			width: 50%;
		}
	}
	a.absolute {
		right: 0;
		top: 15px;
		padding: 6px;

		img {
			max-width: 25px;
		}
	}
}

.right-side {
	width: 30%;

	// iframe {
	// 	width: 100%!important;
	// }
}

div.social {
	position: absolute;
	bottom: 30px;
	left: 35%;
	@media all and (max-width: @tablet) {
		left: 30%;
	}
}

.social img {
	max-width: 35px;
	margin: 5px 2px 0 0;
}

// EVENTS
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//

.left-side.events {
	width: 75%;
	@media all and (max-width: @tablet) {
		width: 100%;
	}

	h2 {
		font-weight: 500;
		color: @orange;
		@media all and (max-width: @mobile) {
			display: none;
		}
	}
}

.selected-opt {
	font-weight: 700;
}

.right-side.events {
	top: 147px;
}

.add-event {
	background-color: transparent;
	color: @orange;
	padding: 5px;
	font-size: 16px;
	&.second {
		@media all and (max-width: @tablet) {
			display: none;
		}
	}
}

.calendar-pagination {
	padding-right: 60px;
	@media all and (max-width: @mobile) {
		display: none;
	}
}
#calendar {
	width: 100%;
	padding: 5px;
	@media all and (max-width: @mobile) {
		display: none;
	}
}
tbody {
	border: 1px solid @cal-light-gray;
	width: 100%;
}

table {
	width: 100%;
	max-width: 830px;
}

.event {
	cursor: pointer;
	color: @main-blue;
	font-weight: 500;
	margin-bottom: 10px;

}
.calendar-row {
	text-align: right;
	border-bottom: 1px solid @cal-light-gray;
}
.calendar-day-head {
	padding: 2px 4px;
	border-right: 1px solid @cal-light-gray;
}

.calendar-row-day {
	height: 150px;
	background-color: @white;
}
.calendar-day, .calendar-day-np {
	height: 103%;
	border-bottom: 1px solid @cal-light-gray;
	border-right: 1px solid @cal-light-gray;
	padding: 2px 4px;
	overflow-y: scroll;
}

.calendar-row, .calendar-row-day {
	width: 100%;

	td {
		display: inline-block;
		width: 14.28%;
	}

	td:last-child {
		border-right: none;
	}
}

.calendar-row-day {
	height: 150px;
	background-color: @white;

	&:last-child td {
		border-bottom: none;
	}
}
.calendar-day-np {
	background-color: @cal-light-gray;
}

.day-number {
	text-align: right;
}

.event-img {
	width: 100%;
	max-height: 45px;
	overflow-y: hidden;
}

#event-img {
	width: 100%;
}


a.facebook {
	background-color: #4e69a2;
	color: white;
	padding: 3px 10px;
	font-size: 11px;
	font-weight: bold;
	border-radius: 2px;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 45px;
}

#twitter-widget-0 {
	vertical-align: top;
}

//  UPCOMING

.upcoming {
	margin: 20px 0; 
	width: 90%;
	@media all and (max-width: @tablet) {
		width: 100%;
	}
	
	h2 {
		margin-bottom: 40px;
	}

	li {
		display: inline-block;
		vertical-align: top;
		padding: 5px 10px;
		h4 {
			margin-top: 0;
		}
		
	}

	li:first-child {
		width: 8%;
		@media all and (max-width: @mobile) {
			width: 20%;
		}

	}

	li:nth-child(2) {
		width: 28%;
		h4 {
			padding: 0 10px;
			@media all and (max-width: @mobile) {
				padding: 0;
			}
		}
		@media all and (max-width: @mobile) {
			width: 80%;
		}
	}

	li:nth-child(3), li:nth-child(4) {
		width: 25%;
		@media all and (max-width: @mobile) {
			display: block;
			width: 100%;
			margin-left: 20%;
		}
	}

	.event {
		color: @black;
		&:hover {
			color: @middle-gray;
		}
	}

	p {
		font-weight: 300;
		color: @middle-gray;
		margin-bottom: 5px;
	}

	.image {
		height: 50px;
		width: 50px;
		background-color: blue;
	}

	//filter form
	select {
		width: 100px;
		padding: 5px;
	}
	input[type=submit] {
		background-color: @orange;
		color: @white;
		padding: 4px 6px;
		border: none;
	}
}

.mobile-only {
	display: none;
	@media all and (max-width: @mobile) {
		display: block;
	}
}
#show-all-upcoming {
	color:@white;
	background-color: @orange;
	padding: 5px 8px;
	border-radius: 2px;
	border: none;
	@media all and (max-width: @mobile) {
		display: none;
	}
}
#all-upcoming {
	display: none;
}
// RIGHT SIDE - SELECTED EVENT

.right-side {
	@media all and (max-width: @tablet) {
		width: 100%;
		position: initial;
		margin-top: 30px;
	}
	width: 27%;
	display: inline-block;
	top: 160px;
	position: absolute;
	right: 0;

	&.members {
		right: 25px;
	}

	&.members.roundtable {
		top: 110px;
	}

	h2 {
		font-weight: 700;
		color: @orange;
	}
	
	ul li {
		margin-bottom: 20px;
		h4 {
			margin-top: 0;
			margin-bottom: 5px;
		}
	}
}

.right-sidebar {
	color: @white;
	width: 80%;
	padding: 15px;
	border-radius: 4px;
	@media all and (max-width: @tablet) {
		max-width: 400px;
	}
	@media all and (max-width: @mobile) {
		width: 100%;
	}

	h2 {
		color: @white;
		margin-bottom: 20px;
		font-weight: 500;
	}

	h5 {
		text-align: center;
		margin: 20px 0 10px 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
	}
}

.selected {
	background-color: @main-blue;
	display: none;

	img.event {
		max-width: 100%;
		margin-bottom: 20px; 
		@media all and (max-width: @mobile) {
			margin: 0 auto 20px auto;
			display: block;
		}
	}
	img.small {
		max-width: 20px;
	}
	span {
		display: inline-block;
		vertical-align: top;
	}

	.host {
		width: 100%;

		span:first-child {
			margin-right: 10px;
		}

	}
	#user-avatar img {
		max-width: 100%;
	}
	p {
		font-weight: 300;
		color: @white;
		text-align: center;
		margin: 2px 0 5px 0;
		font-size: 14px;
		line-height: 20px;
	}
	section {
		text-align: left;
		width: 85%;
		margin: 30px auto 20px auto;

		a {
			text-align: left;
			color: @white;
			display: block;
			margin-bottom: 10px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.share {
			background-color: @orange;
			padding: 5px;
			color: @white;
			border-radius: 2px;
			margin: 2px auto 10px auto;
	}
}

.share-btn {
	border-radius: 2px;
	margin-bottom: 20px;
	margin-left: 20px;
	display: none;
}

.organizations {
	background-color: @main-blue;
	color: @white;
	display: inline-block;

	li {
		margin-bottom: 5px!important;

		a {
			color: @white;
		}
	}
}

.select-filter {
	li {
		display: inline-block;
		font-weight: 400;
	}

	li.active {
		padding: 5px 8px;
		background-color: @main-blue;
		border-radius: 2px;
		a {
			color: @white;
		}
	}
	@media all and (max-width: @mobile) {
		display: none;
	}
}

.right-side {
	span {
		display: block;
	}

	a.filter {
		margin-right: 2px;
		color: @text-light-gray;
		&.active {
			font-weight: bold;
		}
	}

	&.documents {
		ul {
			margin-top: 15px;
		}
		li {
			width: 100%;
			margin-bottom: 5px;
			span {
				display: inline-block;
				color: @middle-gray;
			}
		}
		a.active {
			font-weight: 700;
		}
	}
}


// ARCHIVE
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//

.archive {

	li {
		list-style: none;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 10px;

		a {
			.black-link();
		}
	}
}

